@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    font-weight: 500;
}

.container{
    display: flex;
}

.prod, .order{
    border-collapse: collapse;
    border: 1;
    margin: 0 10px 10px;
}

table th{
    padding: 5px;
    background: rgba(0, 0, 0, 0.1);
}

h1{
    margin: 0;
    font-size: 24px;
    color: #000;
    position: relative;
    z-index: 1;

}
h3{
    text-align: center;
    margin-bottom: 0;
    background-color: #808080;
    margin-bottom: 15px;
    padding: 25px;
    background-image: url(pics/backgroundhome.jpg);

    position: relative;
    z-index: 1;
}
img{
    max-width: 120px;
    max-height: auto;
}

h2{
    margin-top: 30px;
    text-align: center;
    background-color: #808080;
    margin-bottom: 15px;
    padding: 25px;
    background-image: url(pics/testbg.jpg);
}

.fd{
    margin-top: 10px;
}

.header{
    background-color: pink;
    margin-bottom: 20px;
}

.prod-container input{
    border: none;
    outline: none;
    text-align: center;
}

button{
    margin: 10px;
    z-index: 1000;
    border-radius: 10%;
    padding: 10px;
}

button:hover{
    cursor: pointer;
    color: white;
    background: rgb(36, 36, 36);
    transform: scale(1.1);
}

.order input{
    margin: 0px 0px 0px 5px;
    border-radius: 10px;
    padding: 1px 5px 1px 5px;
    outline: none;
}

.sales,.details{
    border-collapse: collapse;
    margin: 10px 10px 20px 10px;
}

body{
    background: white;
}

table{
    background-color: white;
    text-align: center;
}

.prod-container,.emp-container table, .calc-container table, .ViewOrder table, .assign-container table{
    margin-left: auto;
    margin-right: auto;
}

.details-container table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.prod-container,.details-container, .emp-container, .calc-container, .ViewOrder, .assign-container{
    background: white;
    box-shadow: 10px 10px 7px rgb(36, 36, 36);
    border-radius: 15px;
    overflow: hidden;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border: 3px solid black;
}

.emp-container table{
    margin-top: 10px;
}

.emp-detail h2{
    background-color: pink;
    box-shadow: 0px 10px 7px rgb(255, 149, 167);
}

.logbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; /* Optional: This centers the button vertically within the viewport */
}
header {
    position: relative;
    z-index: 10;
    background-image: url('pics/backgroundhome.jpg');
    background-size: cover;
    background-color: #e9bcf1;
    background-position: center;
    color: rgb(2, 2, 2);
    padding: 22px 0;
    text-align: center;
}
header nav a {
    color: rgb(2, 2, 2);
    margin: 0 15px;
    text-decoration: none;
}
nav {
    display: flex;
    align-items: center;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #f0f0f0;
}
.c {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
}
.logo {
    height: 75px; /* Adjust size as needed */
    margin-right: 10px;
    margin-left: 25px;
}
.customfont {
    font-family: 'CustomFont', sans-serif;
}

@font-face {
    font-family: 'CustFont';
    src: url('fonts/3d.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.custfont {
    font-family: 'CustFont', sans-serif;
    padding-left: 10px;
}

@font-face {
    font-family: 'mainsec';
    src: url('fonts/3d2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.mainsec {
    font-family: 'CustFont', sans-serif;
    padding-top: 50px;
    text-align: center;
}
.lefty-section {
    display: flex;
    align-items: center;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .product-wrapper {
    padding-top: 170px;
}