*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
    text-decoration: none;
}

header {
    background-image: url('pics/backgroundhome.jpg');
    background-size: cover;
    background-color: #e9bcf1;
    background-position: center;
    color: rgb(2, 2, 2);
    padding: 22px 0;
    text-align: center;
}

h1{
    padding-bottom: 15px;
}

.order-stat{
    text-align: center;
}

li{
    display: list-item;
    float: left;
    margin: 0px 20px 0px 20px;
}

.status{
    display: flex;
    justify-content: space-evenly;
}

h3{
    margin-top: 30px;
    margin-bottom: 15px;
}

.update-stat h2{
    margin-top: 10%;
    text-align: center;
}

.container {
    text-align: center;
}

.container table{
    margin: auto;
    border-collapse: collapse;
    padding: 5px;
}

.container table td{
    padding: 5px;
}

.pending-stat, .complete-stat, .cancelled-stat{
    background: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 10px;
    border-radius: 25px;
}

ul li{
    margin-top: 10px;
}

.logbtn{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh; /* Optional: This centers the button vertically within the viewport */
}