
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background: rgb(236, 236, 236);
        }
        h2, footer {
            background-color: #B2BEB5;
            color: black;
            padding: 35px 0;
            text-align: center;
        }

        h2{
            margin-bottom: 10px;
            background-image: url('pics/abuja.jpg'); 
            background-size: cover;
            background-position: center;
            
        } 
        footer{
            margin-top: 20px;
            margin-bottom: 10px;
            background-image: url('pics/abuja.jpg'); 
            background-size: cover;
            background-position: center;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
            position: relative;
            display: flex;
            justify-content: space-evenly;
        }
        .product-detail {
            display: flex;
            gap: 20px;
        }
        .product-detail img {
            max-width: 400px;
            height: auto;
            border-radius: 10px;
            background: white;
        }
        .product-info {
            font-size: x-large;
            max-width: 600px;
            border-radius: 10px;
            padding: 10px;
            background: white;
            
        }

        .buyMe{
            border: solid 1px black;
            border-radius: 25px;
            padding: 10px;
            width: 100%;
            font-size: large;
        }

        .buyMe:hover{
            cursor: pointer;
            transform: scale(1.05);
            background: #e9bcf1;
        }

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10%;
            margin-left: auto;
            margin-right: auto;
            height: 60px;
            width: 120px;
          }

        .prodName{
            font-size: larger;
        }

        .title{
            display: flex;
            width: 500px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        .title h3{
            align-items: center;
            text-align: center;
            justify-content: center;
            margin: 0;
        }

        h4{
            margin-top: 2%;
            margin-bottom: 0%;
        }

        .prodDesc{
            margin: 0;
        }

        .product-info p{
            margin-bottom: 1%;
            margin-top: 1%;
        }
        .prev{
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
            border: 1px solid black;
            width: 50px;
            text-align: center;
            border-radius: 25px;
           
           
            background: #E5E4E2;
            
        }
        .sticky + body {
            padding-top: 170px;
        }